/* You can add global styles to this file, and also import other style files */

html,
body {
  font-size: 16px;
  height: 100%;
}
body {
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif;
    background-color: #F5F5F5;
}

@import "./assets/theme.scss";
@include angular-material-theme($todos-app-theme);
